/* Global */
$body-font-family: Quicksand,sans-serif !default; 

/* Btn customizations */
$btn-text-transform: none !default;
$btn-font-weight: 700 !default;
$btn-letter-spacing: normal !default;


//$font-size-root: 18px;